.calendar {
  padding: rem(35) 0 rem(54);

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

    position: relative;
  }

  &__row {
    @include make-row();
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-controls {
      display: flex;
      justify-content: space-between;
      width: 425 / 1170 * 100%;

      &-prev,
      &-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(38);
        height: rem(30);

        svg {
          position: relative;
          transform: rotate(-30deg);
        }
      }

      &-next {
        svg {
          top: rem(-6);
        }
      }
    }

    &-info {
      font-size: rem(18);
      line-height: $mainLineHeight;
      text-align: center;
      color: $white;
    }
  }

  &-grid {
    @include make-col-ready();
    @include make-col(12);

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px 6px;
    width: 100%;
    margin-top: rem(30);
    padding: 0;

    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2px;
    }
  }
}
