section.calendar.black-bg
  +wrapper('calendar')
    h2.h2 Календарь тренировок
    .calendar-grid
      +cardCalendar('', 'Воскресенье', 26, [
        {
          time: '12:20',
          name: 'Иванов Иван'
        },
        {
          time: '12:20',
          name: 'И И'
        }
      ])
      +cardCalendar('Август', 'Понедельник', 1)
