include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    block background
    block header
      include ../modules/header/headerInner
    block content
    block partners
      section.workout__partners
        +wrapper(slug)
          h2.h2 Партнеры
          .workout__partners-wrapper
            +pic('workout__partners-img', [
              {
                src: './assets/img/partner-1.png',
                media: 1200
              },
              {
                src: './assets/img/partner-1-768.png',
                media: 768
              },
              {
                src: './assets/img/partner-1-320.png',
                media: 320
              }
            ])
            +pic('workout__partners-img', [
              {
                src: './assets/img/partner-2.png',
                media: 1200
              },
              {
                src: './assets/img/partner-2-768.png',
                media: 768
              },
              {
                src: './assets/img/partner-2-320.png',
                media: 320
              }
            ])
            +icon('workout__partners-img', 'milk')
    block footer
      include ../modules/footer/footer
    block script
