@import "node_modules/swiper/swiper";

.tabs {
  &-wrapper {
    width: 100%;
    margin-top: rem(33);
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: rem(50);
    padding-bottom: rem(8);
    border-bottom: 1px solid $white;

    &__button {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(38);
      height: rem(30);

      &.is-disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &__icon {
      &_next,
      &_prev {
        position: relative;
        transform: rotate(-30deg);
      }

      &_next {
        top: -6;
        right: 4px;
      }

      &_prev {
        top: 2px;
        left: 4px;
      }
    }

    &__link {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: rem(24);
      line-height: $mainLineHeight;
      text-align: center;
      text-transform: uppercase;
      color: $white;

      @include media-breakpoint-down(lg) {
        font-size: rem(21);
        text-align: center;
      }

      &.is-active {
        font-size: rem(30);
      }

      &:hover {
        color: $white;
        text-decoration: none;
      }

      &_wrapper {
        @extend .swiper-container;
      }

      &_outer {
        @extend .swiper-wrapper;
      }
    }
  }

  &-tab {
    position: absolute;
    top: 0;
    right: -10000px;
    width: 100%;
    flex: 1 0 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);

    &.is-active {
      position: relative;
      right: 0;
      top: 0;
      display: block;
      transform: rotateY(360deg);
    }

    &__wrapper {
      display: flex;
      overflow: hidden;
      perspective: 1000px;
    }

    &__header {
      font-weight: 900;
      font-size: rem(30);
      line-height: $mainLineHeight;
      text-transform: uppercase;
      color: $white;
    }

    &__content {
      @extend .swiper-wrapper;

      padding-top: rem(30);
      padding-bottom: rem(50);

      &-outer {
        @extend .swiper-container;
        @include media-breakpoint-down(lg) {
          max-width: 570/720 * 100%;
          margin: 0 auto;
        }
      }
    }

    &__navigation {
      position: absolute;
      top: 50%;
      left: 0;
      display: none;
      justify-content: space-between;
      width: 100%;
      padding: 0 rem(4);
      transform: translateY(-50%);
      z-index: 2;

      @include media-breakpoint-down(lg) {
        display: flex;
      }

      &_prev,
      &_next {
        @extend .tabs-menu__button;
      }
    }
  }
}
