@import "node_modules/swiper/swiper";

.tabs {
  &-wrapper {
    width: 100%;
    margin-top: rem(33);
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: rem(50);
    padding-bottom: rem(8);
    border-bottom: 1px solid $white;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(38);
      height: rem(30);
    }

    &__icon {
      &_next,
      &_prev {
        position: relative;
        transform: rotate(-30deg);
      }

      &_next {
        top: rem(-6);
      }
    }

    &__link {
      font-weight: 900;
      font-size: rem(24);
      line-height: $mainLineHeight;
      text-transform: uppercase;
      color: $white;

      @include media-breakpoint-down(lg) {
        display: none;
        font-size: rem(21);
        max-width: 290 / 720 * 100%;
        text-align: center;
        pointer-events: none;
      }

      &.is-active {
        font-size: rem(30);

        @include media-breakpoint-down(lg) {
          display: block;

          + a {
            display: block;
          }
        }

        @include media-breakpoint-down(sm) {
          display: block;
          max-width: 100%;

          + a {
            display: none !important;
          }
        }
      }

      &:hover {
        color: $white;
        text-decoration: none;
      }

      &_wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 rem(20);

        @include media-breakpoint-down(lg) {
          justify-content: center;
        }
      }
    }
  }

  &-tab {
    position: absolute;
    // display: none;
    top: 0;
    right: -10000px;
    width: 100%;
    flex: 1 0 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);

    &.is-active {
      position: relative;
      right: 0;
      top: 0;
      display: block;
      transform: rotateY(360deg);
    }

    &__wrapper {
      display: flex;
      overflow: hidden;
      perspective: 1000px;
    }

    &__header {
      font-weight: 900;
      font-size: rem(30);
      line-height: $mainLineHeight;
      text-transform: uppercase;
      color: $white;
    }

    &__content {
      @extend .swiper-wrapper;
      // display: grid;
      // grid-template-columns: repeat(4, 1fr);
      // grid-template-rows: 1fr;
      // gap: $grid-gutter-width;
      // width: 100%;
      padding-top: rem(30);
      padding-bottom: rem(50);

      // @include media-breakpoint-down(lg) {
      //   grid-template-columns: repeat(2, 1fr);
      //   // position: relative;
      //   // box-sizing: content-box;
      //   // display: flex;
      //   // width: 100%;
      //   // height: auto;
      //   // margin: 0 auto;
      //   // transition-property: transform;
      //   // gap: unset;
      //   // z-index: 1;
      // }

      // @include media-breakpoint-down(sm) {
      //   grid-template-columns: 1fr;
      // }

      &-outer {
        @extend .swiper-container;
        @include media-breakpoint-down(lg) {
          max-width: 570/720 * 100%;
          margin: 0 auto;
        }
      }
    }

    &__navigation {
      position: absolute;
      top: 50%;
      left: 0;
      display: none;
      justify-content: space-between;
      width: 100%;
      padding: 0 rem(4);
      transform: translateY(-50%);
      z-index: 2;

      @include media-breakpoint-down(lg) {
        display: flex;
      }

      &_prev,
      &_next {
        @extend .tabs-menu__button;
      }
    }
  }
}
