extends ../layout/main

block variables
  - var title = 'basketball';
  - var description = '';
  - var pageClass = 'index-page';

block content
  +fluid()
    +wrapper('index')
      include ../modules/header/header
