extends ../layout/main

block variables
  - var title = 'basketball';
  - var description = '';
  - var pageClass = 'index-page';

block content
  +fluid()
    +wrapper('index')
      include ../modules/header/header
      .index__grid
        main.index__main
          h1.index__main-header.h1
            span.inherit.shadow-red БАСКЕТ
            br
            span.inherit.shadow-red БОЛ
            br
            span.inherit.shadow-multiple XXL
        aside.index__aside
          nav.index__nav(role="navigation")
            a.index__nav-link(href="#") Тренировки
            a.index__nav-link(href="#") Гетто Баскет
            a.index__nav-link(href="#") Мировая серия
            a.index__nav-link(href="#") Массовый турнир
