.index {
  &-page {
    position: relative;
    .footer {
      position: absolute;
      bottom: 0;
    }
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );

    position: relative;
  }

  &__row {
    @include make-row();
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: $grid-gutter-width;
  }

  &__main {
    grid-column-start: 1;
    grid-column-end: 7;

    &-header {
      color: $white;
    }
  }

  &__aside {
    grid-column-start: 9;
    grid-column-end: 13;
    padding-top: rem(15);
    padding-left: rem(57);
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &-link {
      display: block;
      margin-bottom: rem(35);
      font-weight: 900;
      font-size: rem(48);
      line-height: $mainLineHeight;
      text-transform: uppercase;
      color: $white;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        text-decoration: none;
        color: $white;
        @extend .shadow-multiple;
      }
    }
  }

  &__paralax {
    position: absolute;
    top: 15.4vh;
    left: 30.6vw;

    img {
      display: block;
      width: 30.5vw;
      height: 62vh;
    }
  }
}
