extends ../layout/inner

block variables
  - var title = 'basketball';
  - var description = '';
  - var slug = 'rent'
  - var pageClass = slug + '-page';

block background
  +pic(slug + '-background', [
    {
      src: './assets/img/bg-inner-ghetto.jpg',
      media: 1200
    },
    {
      src: './assets/img/bg-inner-ghetto-768.jpg',
      media: 768,
    },
    {
      src: './assets/img/bg-inner-ghetto-320.jpg',
      media: 320,
    },
  ])
block content
  section.workout__rent.black-bg
    +wrapper(slug)
      h2.h2 Аренда оборудования
      .rent__grid.workout__rent-outer
        +cardRent('Брусья', [
            {
              src: './assets/img/rent1.jpg',
              media: 320
            }
          ])
        +cardRent('Брусья', [
          {
            src: './assets/img/rent1.jpg',
            media: 320
          }
        ])
        +cardRent('Шведская стенка', [
          {
            src: './assets/img/rent2.jpg',
            media: 320
          }
        ])
        +cardRent('Брусья', [
          {
            src: './assets/img/rent1.jpg',
            media: 320
          }
        ])
        +cardRent('Брусья', [
          {
            src: './assets/img/rent1.jpg',
            media: 320
          }
        ])
        +cardRent('Брусья', [
          {
            src: './assets/img/rent1.jpg',
            media: 320
          }
        ])
        +cardRent('Шведская стенка', [
          {
            src: './assets/img/rent2.jpg',
            media: 320
          }
        ])
        +cardRent('Брусья', [
          {
            src: './assets/img/rent1.jpg',
            media: 320
          }
        ])

  section.workout__order
    .workout__order-outer.black-bg
      +wrapper(slug)
        .workout__order-inner
          +pic('workout__order-img', [
            {
              src: './assets/img/ball.png',
              media: 1200,
            },
            {
              src: './assets/img/ball-768.png',
              media: 320,
            },
          ])
          //- .workout__order-form-wrapper
          //-   form.form(action="#" method="post")
          //-     h2.form-header.h2 АРЕНДА КОРТА
          //-     p.form-descr.p Оставьте свои контакты, наш менеджер свяжется с вами в ближайшее время для уточнения подробностей
          //-     input.form-input.p(type="text" name="name" placeholder="Ваше имя" onfocus="this.placeholder=''" onblur="this.placeholder='Ваше имя'")
          //-     input.form-input.p(type="email" name="mail" placeholder="Ваш email" onfocus="this.placeholder=''" onblur="this.placeholder='Ваш email'")
          //-     input.form-input.p(type="text" name="comment" placeholder="Укажите время и количество человек" onfocus="this.placeholder=''" onblur="this.placeholder='Укажите время и количество человек'")
          //-     input.form-submit(type="submit" name="submit" value="Оставить заявку на аренду")
