.training {
  padding-top: rem(34);

  &-page {
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      section {
        padding-left: $gutter;
        padding-right: $gutter;
      }
    }

    .tabs-tab__wrapper {
      overflow: unset;
    }
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

    position: relative;
  }

  &__row {
    @include make-row();
  }

  &__info {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1;

    @include media-breakpoint-down(lg) {
      grid-column-start: 1;
      grid-column-end: 13;
    }

    &_wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: calc(446px / 2);
      gap: 0 rem(30);
      padding: rem(32) 0 rem(75);

      @include media-breakpoint-down(lg) {
        grid-template-rows: 200px;
        padding: rem(20) 0;
      }

      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
      }
    }

    &-btn-wrapper {
      display: flex;
      justify-content: center;
      padding-bottom: rem(62);

      @include media-breakpoint-down(lg) {
        padding-bottom: rem(20);
      }

      a {
        max-width: rem(258);
      }
    }
  }

  &__coach {
    display: block;
    width: 100%;
    height: 100%;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;

    @include media-breakpoint-down(lg) {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 2;
      grid-row-end: 4;
    }

    @include media-breakpoint-down(md) {
      width: 50%;
      margin: 0 auto rem(30);
    }

    @include media-breakpoint-down(md) {
      width: 75%;
      margin: 0 auto rem(30);
    }

    img,
    picture {
      width: 100%;
      height: 100%;
    }

    &-info {
      width: 330 / 770 * 100%;
      margin-left: $grid-gutter-width;

      @include media-breakpoint-down(lg) {
        width: auto;
      }

      @include media-breakpoint-down(sm) {
        width: 100% !important;
        margin-left: 0;
      }

      .training__text,
      .p {
        margin-bottom: rem(27) !important;
      }

      .cards-workout__socials {
        justify-content: flex-start;
      }

      &_wrapper {
        display: flex;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 2;

        @include media-breakpoint-down(lg) {
          grid-column-start: 1;
          grid-column-end: 13;
          grid-row-start: 4;
          grid-row-end: 4;
        }

        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }
      }

      &_text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 310 / 770 * 100%;

        p {
          margin-bottom: 0;
          text-transform: uppercase;
        }

        @include media-breakpoint-down(sm) {
          width: 100%;
          margin-bottom: rem(20);
        }
      }

      &_icon {
        position: relative;
        top: rem(-3);
        width: rem(65);
        height: rem(52);
      }
    }
  }

  &__text {
    margin-bottom: rem(36);
    font-weight: bold;
    font-size: rem(24);
    line-height: $mainLineHeight;
    color: $white;

    + p {
      margin-bottom: rem(60);
    }
  }
}
