.workout {
  padding-top: rem(34);

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );

    position: relative;
  }

  &__row {
    @include make-row();
  }

  &__text {
    @include make-col-ready();
    @include make-col(10);
    @include make-col-offset(1);

    padding: 0;
    font-weight: bold;
    font-size: rem(24);
    line-height: $mainLineHeight;
    color: $white;
  }

  &__online {
    padding: rem(54) 0;

    &-outer {
      @include make-col-ready();
      @include make-col(12);

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(30);
      padding: rem(30) 0;
    }

    &-video {
      position: relative;
      width: 100%;
      height: 100%;
      padding: rem(30) rem(20);
      background-color: #000;
      border: 5px solid $white;

      video {
        width: 100%;
        height: 100%;
      }

      &-info {
        position: absolute;
        left: rem(20);
        bottom: rem(30);

        p {
          margin-bottom: rem(8);
          font-size: rem(14);
          line-height: $mainLineHeight;
          color: $white;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &-other {
      display: block;
      margin: 0 auto;
      font-size: rem(14);
      line-height: $mainLineHeight;
      color: $white;

      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }

  &__rent {
    padding: rem(54) 0 rem(35);

    &-outer {
      @include make-col-ready();
      @include make-col(12);

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(30);
      padding: rem(30) 0;
    }
  }
}
