.workout {
  padding-top: rem(34);

  &-page {
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      section {
        padding-left: $gutter;
        padding-right: $gutter;
      }
    }
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

    position: relative;
  }

  &__row {
    @include make-row();
  }

  &__text {
    @include make-col-ready();
    @include make-col(10);
    @include make-col-offset(1);

    padding: 0;
    font-weight: bold;
    font-size: rem(24);
    line-height: $mainLineHeight;
    color: $white;

    @include media-breakpoint-down(lg) {
      @include make-col(12);
      @include make-col-offset(0);
    }
  }

  &__online {
    padding: rem(54) 0;

    @include media-breakpoint-down(lg) {
      background-color: #000;
      padding: rem(45) 0 rem(30);
    }

    &-outer {
      @include make-col-ready();
      @include make-col(12);

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $grid-gutter-width;
      padding: rem(30) 0;

      @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
      }
    }

    &-video {
      position: relative;
      width: 100%;
      height: 100%;
      padding: rem(30) rem(20);
      background-color: #000;
      border: 5px solid $white;

      video {
        width: 100%;
        height: 100%;
      }

      &-info {
        position: absolute;
        left: rem(20);
        bottom: rem(30);

        p {
          margin-bottom: rem(8);
          font-size: rem(14);
          line-height: $mainLineHeight;
          color: $white;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &-other {
      display: block;
      margin: 0 auto;
      font-size: rem(14);
      line-height: $mainLineHeight;
      color: $white;

      &:hover {
        text-decoration: none;
        color: $white;
      }
    }
  }

  &__rent {
    padding: rem(54) 0 rem(35);

    &-outer {
      @include make-col-ready();
      @include make-col(12);

      // display: grid;
      // grid-template-columns: repeat(4, 1fr);
      // gap: $grid-gutter-width;
      padding: rem(30) 0;
    }
  }

  &__order {
    padding: rem(42) 0;

    &-inner {
      position: relative;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: $grid-gutter-width;

      @include media-breakpoint-down(sm) {
        display: flex;
      }
    }

    &-form {
      &-wrapper {
        position: relative;
        grid-column-start: 7;
        grid-column-end: 12;
        z-index: 1;

        @include media-breakpoint-down(lg) {
          grid-column-start: 1;
          grid-column-end: 7;
        }

        @include media-breakpoint-down(sm) {
          grid-column-start: 1;
          grid-column-end: 13;
        }
      }
    }

    &-img {
      position: absolute;
      top: -59%; //196 px
      left: -13.3%; //155 px
      display: block;
      width: 100%;
      max-width: 785px;

      @include media-breakpoint-down(lg) {
        max-width: 585px;
        left: unset;
        top: -12%;
        right: -11%;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &-outer {
      @include media-breakpoint-down(sm) {
        margin-left: -$gutter;
        margin-right: -$gutter;
        padding-left: $gutter;
        padding-right: $gutter;
      }
    }
  }

  &__partners {
    padding: rem(78 - 42) 0 rem(54);

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 rem(63);
      padding: rem(34) 0;

      @include media-breakpoint-down(lg) {
        gap: 0 rem(30);
      }

      @include media-breakpoint-down(sm) {
        display: flex;
        gap: 0 !important;
        justify-content: space-between;
        width: 100%;
      }
    }

    &-img {
      position: relative;
      // flex-shrink: 0;
      display: flex;
      justify-content: center;
      width: 100%;

      @include media-breakpoint-down(sm) {
        width: auto;
        max-width: rem(115);
        max-height: rem(51);
      }

      img {
        // width: 100%;
        object-fit: cover;
        max-height: 100%;
      }
    }
  }
}
