extends ../layout/inner

block variables
  - var title = 'basketball';
  - var description = '';
  - var slug = 'workout'
  - var pageClass = slug + '-page';

block content
  section.workout
    +wrapper('workout')
      p.workout__text В рамках проекта «Баскетбол XXl» пройдет цикл специальных тренировок – Streetbasket Lab. Streetbasket Lab – это бесплатные тренировки для разного уровня подготовки, возраста и пола с ведущими тренерами Москвы и России.
      include ../modules/tabs/tabs
  section.workout__calendar
    +wrapper('workout')
      h2(style="color: #fff") h2
