extends ../layout/inner

block variables
  - var title = 'basketball';
  - var description = '';
  - var slug = 'workout'
  - var pageClass = slug + '-page';

block background
  +pic(slug + '-background', [
    {
      src: './assets/img/bg-inner.jpg',
      media: 1200
    },
    {
      src: './assets/img/bg-inner-768.jpg',
      media: 768,
    },
    {
      src: './assets/img/bg-inner-320.jpg',
      media: 320,
    },
  ])
block content
  section.workout
    +wrapper(slug)
      p.workout__text В рамках проекта «Баскетбол XXl» пройдет цикл специальных тренировок – Streetbasket Lab. Streetbasket Lab – это бесплатные тренировки для разного уровня подготовки, возраста и пола с ведущими тренерами Москвы и России.
      +tabs([
        {
          isActive: true,
          label: 'Бросковые тренировки',
          id: 'throw',
          header: 'Наши тренеры'
        },
        {
          isActive: false,
          label: 'Женские тренировки',
          id: 'women',
          header: 'Женщины'
        },
        {
          isActive: false,
          label: 'детские тренировки',
          id: 'child',
          header: 'Дети'
        }
      ])
        +slider('tabs-tab__content-outer', 'tabs-tab__content')
          +cardsWorkout('Грищенко Иван ','женские баскетбольные тренировки и знакомство с баскетболом',[
            {
              src: './assets/img/card-workout.jpg',
              media: 320
            }
          ],'top')
          +cardsWorkout('Ивановский Константин','заслуженный тренер по <br /> баскетболу',[
            {
              src: './assets/img/card-placeholder.jpg',
              media: 320
            }
          ],'bot')
          +cardsWorkout('Ивановский Константин','заслуженный тренер по <br /> баскетболу',[
            {
              src: './assets/img/card-placeholder.jpg',
              media: 320
            }
          ],'top')
          +cardsWorkout('Ивановский Константин','заслуженный тренер по <br /> баскетболу',[
            {
              src: './assets/img/card-placeholder.jpg',
              media: 320
            }
          ],'bot')
  include ../modules/calendar/calendar
  section.workout__online
    +wrapper(slug)
      h2.h2 Онлайн
      .workout__online-outer
        .workout__online-video
          video
            source(src='' type='video/mp4')
          .workout__online-video-info
            p.p Онлайн трансляция
            p.p Турнир между Команда1 - Команда 2
            p.p Время: 00:23:00
        .workout__online-video
          video
            source(src='' type='video/mp4')
          .workout__online-video-info
            p.p Запись трансляции
            p.p Турнир между Команда1 - Команда 2
            p.p Время: 00:23:00
      a.workout__online-other(href="#") Посмотреть другие трансляции
  section.workout__rent.black-bg
    +wrapper(slug)
      h2.h2 Аренда оборудования
      +slider('workout__rent-outer')
        +cardRent('Брусья', [
          {
            src: './assets/img/rent1.jpg',
            media: 320
          }
        ])
        +cardRent('Брусья', [
          {
            src: './assets/img/rent1.jpg',
            media: 320
          }
        ])
        +cardRent('Шведская стенка', [
          {
            src: './assets/img/rent2.jpg',
            media: 320
          }
        ])
        +cardRent('Брусья', [
          {
            src: './assets/img/rent1.jpg',
            media: 320
          }
        ])
      a.workout__online-other(href="#") Посмотреть все оборудование
  section.workout__order
    .workout__order-outer.black-bg
      +wrapper(slug)
        .workout__order-inner
          +pic('workout__order-img', [
            {
              src: './assets/img/ball.png',
              media: 1200,
            },
            {
              src: './assets/img/ball-768.png',
              media: 320,
            },
          ])
          .workout__order-form-wrapper
            include ../components/form/form
  section.workout__partners
    +wrapper(slug)
      h2.h2 Партнеры
      +slider('workout__partners-wrapper')
        +pic('workout__partners-img', [
          {
            src: './assets/img/partner.jpg',
            media: 320
          }
        ])
        +pic('workout__partners-img', [
          {
            src: './assets/img/partner.jpg',
            media: 320
          }
        ])
        +pic('workout__partners-img', [
          {
            src: './assets/img/partner.jpg',
            media: 320
          }
        ])
        +pic('workout__partners-img', [
          {
            src: './assets/img/partner.jpg',
            media: 320
          }
        ])
