extends ../layout/inner

block variables
  - var title = 'basketball';
  - var description = '';
  - var slug = 'world'
  - var pageClass = slug + '-page';

block background
  +pic(slug + '-background', [
    {
      src: './assets/img/bg-inner-m.jpg',
      media: 1200
    },
    {
      src: './assets/img/bg-inner-m-768.jpg',
      media: 768,
    },
    {
      src: './assets/img/bg-inner-m-320.jpg',
      media: 320,
    },
  ])
block content
  section.world
    +wrapper(slug)
      p.workout__text
        |Турнир мировой серии FIBA (quest) с участием сильней команд России и стран СНГ. 4 тура и финал Grunis Cup (на день города). В каждом туре участвует 16 команд, в финал попадут команды с наилучшим рейтингом.
  include ../components/screen/screen-order
  include ../modules/calendar/calendar
