.cards-rent {
  padding: rem(7);
  background: #f2f2f2;

  &:hover {
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.5);

    a {
      background-color: #36a9e1;
    }
  }

  &__name {
    width: 100%;
    margin: rem(20) 0 rem(18);
    font-size: rem(18);
    line-height: $mainLineHeight;
    text-align: center;
    color: #000;
  }

  &__request {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(18) 0 rem(17);
    font-size: rem(12);
    line-height: $mainLineHeight;
    text-transform: uppercase;
    color: $white;
    background-color: $shadow2;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
