form.form(action="#" method="post")
  h2.form-header.h2 Аренда корта
  p.form-descr.p Оставьте свои контакты, наш менеджер свяжется с вами в ближайшее время для уточнения подробностей
  input.form-input.p(type="text" name="name" placeholder="Ваше имя" onfocus="this.placeholder=''" onblur="this.placeholder='Ваше имя'")
  input.form-input.p(type="email" name="mail" placeholder="Ваш email" onfocus="this.placeholder=''" onblur="this.placeholder='Ваш email'")
  input.form-input.p(type="text" name="comment" placeholder="Укажите время и количество человек" onfocus="this.placeholder=''" onblur="this.placeholder='Укажите время и количество человек'")
  input.form-submit(type="submit" name="submit" value="Оставить заявку на аренду")
