.footer {
  width: 100%;
  padding: rem(42) 0 rem(47);
  background-color: rgba($color: #110f02, $alpha: 0.75);

  @include media-breakpoint-down(lg) {
    padding: rem(20) 0;
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );
  }

  &__row {
    @include make-row();
  }

  &__contacts {
    @include make-col-ready();
    @include make-col(6);

    &:last-child {
      text-align: right;

      @include media-breakpoint-down(lg) {
        text-align: left;
      }
    }

    @include media-breakpoint-down(lg) {
      @include make-col(12);
      display: flex;
      justify-content: space-between;
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }

    &-text {
      color: $white;
      margin-bottom: rem(26);

      @include media-breakpoint-down(lg) {
        margin-bottom: rem(18);
      }

      @include media-breakpoint-down(sm) {
        text-align: center;
        flex: 1 0 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }

    &-address {
      display: flex;
      justify-content: flex-end;

      br {
        display: none;

        @include media-breakpoint-down(lg) {
          display: block;
        }
      }

      @include media-breakpoint-down(lg) {
        justify-content: flex-start;
        flex-wrap: wrap;

        p {
          flex: 1 0 100%;
          margin-bottom: rem(6);
        }

        a {
          display: block;
          margin-left: 0;
        }
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin: rem(30) 0 rem(20);

        a {
          width: 100%;
          text-align: center;
        }
      }
    }

    &-link {
      display: block;
      margin-left: rem(12);
      color: $white;
      text-decoration: underline;

      &:hover {
        color: $white;
      }
    }

    &-dev {
      display: inline-block;
      margin-left: rem(12);
    }
  }
}
