.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: rem(20);
  padding-top: rem(5);
  z-index: 90;

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
    padding-left: rem(15);
    padding-right: rem(15);
  }

  &__logo {
    width: rem(88);
    height: rem(92);

    @include media-breakpoint-down(lg) {
      order: 2;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
      flex-basis: 50%;
    }
  }

  &__nav {
    position: relative;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      order: 1;
    }

    &-menu {
      display: flex;
      width: 100%;
      transition: transform 0.5s ease;
      transform-origin: top left;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      &-separator {
        display: none;

        @include media-breakpoint-down(lg) {
          display: block;
          width: 100%;
          margin-bottom: rem(24);
          height: 1px;
          background-color: $white;
        }
      }
    }

    &-button {
      position: relative;
      display: none;
      padding: rem(6) rem(5);
      z-index: 1;

      @include media-breakpoint-down(lg) {
        display: block;

        &.is-active {
          ~ .header__nav-menu {
            position: absolute;
            top: 0;
            left: rem(-15);
            display: flex;
            flex-direction: column;
            width: 280px;
            height: auto;
            background-color: $black;
            padding: rem(50) rem(16) rem(34);

            @include media-breakpoint-down(sm) {
              top: rem(-35);
              padding-top: rem(100);
            }
          }
        }
      }

      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
    }

    &-link {
      display: block;
      margin-right: rem(32);
      color: $white;

      &:hover {
        cursor: pointer;
        color: $shadow2;
        text-decoration: none;
      }

      @include media-breakpoint-down(lg) {
        margin-right: 0;
        margin-bottom: rem(19);
      }

      &:nth-child(n + 4) {
        display: none;

        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      order: 4;
    }

    &-menu {
      display: flex;
      width: 100%;
      transition: transform 0.5s ease;
      transform-origin: top right;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &-button {
      position: relative;
      display: none;
      padding: rem(6) rem(5);
      z-index: 1;

      .to-close {
        display: none;
      }

      @include media-breakpoint-down(sm) {
        display: block;
        padding-right: 0;

        &.is-active {
          .to-close {
            display: block;
          }

          .to-open {
            display: none;
          }

          ~ .header__socials-menu {
            position: absolute;
            top: 0;
            right: rem(-15);
            display: flex;
            flex-direction: row;
            width: 280px;
            height: auto;
            background-color: $black;
            padding: rem(50) rem(16) rem(34);

            .header__socials-icon {
              @include size(rem(40));
            }
          }
        }
      }
    }

    &-icon {
      @include size($iconDefault);
      fill: $white;

      &:hover {
        fill: $shadow2;
      }
    }

    &-link {
      display: block;
      margin-right: rem(13);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__partners {
    display: flex;
    @include media-breakpoint-down(lg) {
      order: 3;
    }

    @include media-breakpoint-down(sm) {
      order: 4 !important;
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
      margin-top: rem(16);
    }

    .msport {
      width: rem(134);
      height: rem(42);

      margin-right: rem(46);
    }
  }
}
