@import "./header";

.header-inner {
  padding-top: rem(15);

  @include media-breakpoint-down(lg) {
    display: none;
  }

  &__mobile {
    display: none;
    width: 100%;

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);

    position: relative;
  }

  &__row {
    @include make-row();
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: rem(724);
    margin-left: auto;
    margin-right: auto;
  }

  &__nav {
    &-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: rem(30);
    }

    &_bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: rem(36);

      @include media-breakpoint-down(lg) {
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 585 / 730 * 100%;
        margin-left: auto;
        margin-right: auto;
      }

      @include media-breakpoint-down(sm) {
        justify-content: flex-start !important;
        max-width: 100% !important;
        padding-left: $gutter !important;
        padding-right: $gutter !important;
      }

      &-link {
        font-weight: 900;
        font-size: rem(30);
        line-height: $mainLineHeight;
        text-transform: uppercase;
        color: $white;

        &:hover,
        &.is-active {
          color: $white;
          text-decoration: none;
          text-shadow: 2px 2px 0px $shadow1, -1px -2px 0px $shadow2;
        }

        @include media-breakpoint-down(lg) {
          margin-bottom: rem(8);
        }
      }
    }
  }
}
